.logo-fake {
  margin: 0;
  display: block;
  text-align: left;
  position: relative;

  .square {
    padding: 20px;
    border: 1px solid #000;
    font-size: 0;
    position: relative;

   /*  &:after{
      content: '';
      font-size: 20px;
      position: absolute;
      color: #000;
      display: block;
      border-left: 10px solid #000;
      margin-left: 50%;
    } */
  }

  .text {
    padding: 14px 0 0 10px;
    position: absolute;
  }
}
